<ng-scrollbar (clickOutside)="navMob()" style="height: calc(100vh - 56px)">
  <div class="navbar-content">
    <ul class="nav pcoded-inner-navbar" (clickOutside)="fireOutClick()">
      @for (item of navigations; track item) {
        @if (item.type === 'group') {
          <app-nav-group [item]="item"></app-nav-group>
        }
        @if (item.type === 'collapse') {
          <app-nav-collapse [item]="item"></app-nav-collapse>
        }
        @if (item.type === 'item') {
          <app-nav-item [item]="item"></app-nav-item>
        }
      }
    </ul>
    <div class="card text-center">
      <div class="card-body">
        <img src="assets/images/sidebar.png" alt="images" class="*" />
        <h5> Pro</h5>
        <p>Checkout Premium Features</p>
        <a
          href="*"
          target="_blank"
          class="btn text-white btn-primary"
        >
         Premium version
        </a>
      </div>
    </div>
    <div class="version">
      <label disabled class="pe-auto">v{{ currentApplicationVersion }}</label>
    </div>
  </div>
</ng-scrollbar>
  